* {
    margin: 0;
}

#title {
    #background-color: blue;

    height: 40px;
}

#body {
    #background-color: gray;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
}

#left {
    #background-color: green;

    -webkit-flex: none;
    flex: none;
    width: 200px;
    height: 800px;
}

#middle {
    #background-color: yellow;

    -webkit-flex: initial;
    flex: initial;
    -webkit-flex: 1;
    flex: 1;
    min-width: 360px;
    position:relative;
}

#right {
    #background-color: orange;

    -webkit-flex: none;
    flex: none;
    width: 200px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#listen-status {
    display: -webkit-flex;
    display: flex;
}

#player{
    width: 100%;
    #height:100%;
}

#cover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size: 28px;
    color: white;
    text-align: center;
    background-color: black;
}

#mode-title {
    font-size: 28px;
    color: white;
}

#mode-des {
    font-size: 16px;
    color: rgb(160, 160, 160);
}

.cover {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: default;
}

#markbar {
    display: -webkit-flex;
    display: flex;

    margin: -3px 0 0 0;
    padding: 10px 12px 10px 12px;
    background-color: rgb(90, 90, 90);
}

.mark-1 {
    height: 3px;
    background-color: #ff2031;
    cursor: pointer;

    position: relative;                /* you need this to use z-index */
    z-index: 0;
}

.mark-0 {
    height: 3px;
    background-color: #dbdbdb;
    cursor: pointer;
}

#mark-position {
    width: 12px;
    height: 12px;
    cursor: pointer;

    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #bebebe);
    background-image: -moz-linear-gradient(top, #ebebeb, #bebebe);
    background-image: -ms-linear-gradient(top, #ebebeb, #bebebe);
    background-image: -o-linear-gradient(top, #ebebeb, #bebebe);
    background-image: linear-gradient(to bottom, #ebebeb, #bebebe);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0;
    margin: -7px 7px 0 7px;

    position: relative;                /* you need this to use z-index */
    z-index: 10;
}

#mark-button-panel {
    display: -webkit-flex;
    display: flex;

    margin: 3px 0 0 0;
}

.listen-button {
    cursor: pointer;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #3498db;

    padding: 3px 6px 3px 6px;
}

.mark-button-normal {
    text-align: center;
    cursor: pointer;

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0 10px 0;
    text-decoration: none;
    margin: 20px 0 0 0;
}

.mark-button-normal:hover {
    cursor: pointer;

    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.mark-button-continue {
    text-align: center;
    cursor: pointer;

    border: 1px solid #3498db;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3498db;
    font-size: 16px;
    padding: 10px 0 10px 0;
    text-decoration: none;
    margin: 20px 0 0 0;
}

#clear-button {
    width: 120px;
    text-align: center;
    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #3498db;
    font-family: Arial, Helvetica, sans-serif;
    color: #3498db;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
}

.empty-space {
    -webkit-flex: 1;
    flex: 1;
}

.debug-button {
    width: 120px;
    text-align: center;
    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    font-family: Arial, Helvetica, sans-serif;
    color: #d0d0d0;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;

    margin: 150px 0 0 0;
}

.button-mode {
    width: 120px;
    text-align: center;
    cursor: pointer;

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    margin: 3px 3px 3px 10px;
}

.button-mode:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

#listen-counter {
    width: 30px;
    text-align: center;

    background: #133b52;
    background-image: -webkit-linear-gradient(top, #133b52, #133b52);
    background-image: -moz-linear-gradient(top, #133b52, #133b52);
    background-image: -ms-linear-gradient(top, #133b52, #133b52);
    background-image: -o-linear-gradient(top, #133b52, #133b52);
    background-image: linear-gradient(to bottom, #133b52, #133b52);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 3px;
}

.control-button {
    width: 120px;
    height: 16px;
    text-align: center;
    cursor: pointer;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 40px 0 40px 0;
    text-decoration: none;
    margin: 245px 3px 3px 10px;
    visibility: hidden;
}

.control-button:hover {
    cursor: pointer;

    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.study-mode {
    float: right;
    width: 100px;
    text-align: center;
    cursor: pointer;

    background: #65a3c6;
    background-image: -webkit-linear-gradient(top, #65a3c6, #3d8c97);
    background-image: -moz-linear-gradient(top, #65a3c6, #3d8c97);
    background-image: -ms-linear-gradient(top, #65a3c6, #3d8c97);
    background-image: -o-linear-gradient(top, #65a3c6, #3d8c97);
    background-image: linear-gradient(to bottom, #65a3c6, #3d8c97);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    margin: 3px 3px 3px 10px;

    visibility: hidden;
}
